@charset "utf-8";
/* CSS Document */
body{
	font-family: 'Roboto';
	background: white;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
	user-select: none;
}

.fade-out {
    opacity: 0;
}

.toppanelgroup{
	width:360px; 
	height: 82px; 
	left: 0px; 
	top: 0px; 
	position:fixed;
	z-index: 1;
}

.toppanelbox{
	width: 360px; 
	height: 82px; 
	left: 0px; 
	top: 0px; 
	position: absolute;
	background: #E2241D;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.toppanelgroup2{
	width: 155px; 
	height: 34px; 
	left: 102px; 
	bottom: 10px; 
	position: absolute;
}

.taylormobiletext{ 
	width: 125px; 
	height: 34px; 
	left: 30px; 
	top: 0px; 
	position: absolute; 
	color: white; 
	font-size: 20px;  
	font-weight: 700; 
	word-wrap: break-word;
}

.tulogo{
	width: 22px; 
	height: 27px; 
	left: 0px; 
	top: 0px; 
	position: absolute;
}

.backicongroup{
	width: 24px;
	height: 24px;
	left: 20px;
	bottom: 20px;
	position: absolute;
}

.backicon{
	width: 24px;
	height: 24px;
	left: 0px;
	bottom: 0px;
	position: absolute;
}

.transportationtext{
	width: 197px; 
	height: 31px; 
	left: 28px; 
	top: 117px; 
	position: absolute; 
	color: black; 
	font-size: 28px; 
	font-weight: 500; 
	word-wrap: break-word;
}

.bustrackinggroup{
	width: 328px; 
	height: 272px; 
	left: 16px;
	top: 159px; 
	position: absolute;
}

.bustrackingbox{
	 width: 328px; 
	height: 272px;
	left: 0px;
	top: 0px; 
	position: absolute;
	background: white;
	border-radius: 20px; 
	border: 0.50px black solid;
}

.tu1cgroup{
	width: 280px; 
	height: 72px; 
	left: 23px; 
	top: 77px; 
	position: absolute;
}

.routetext{
	width: 53px;
	height: 26px;
	left: 0px;
	top: 0px;
	position: absolute;
	color: black; 
	font-size: 16px; 
	font-weight: 500;
	word-wrap: break-word;
}

.routemapgroup{
	width: 278px;
	height: 46px;
	left: 2px; 
	top: 26px;
	position: absolute;
}

.routemap{
	left: 3px;
	top: 3px;
	position: absolute;
	color: black;
	font-size: 16px;
	font-weight: 500;
	word-wrap: break-word;
}

.locationtext{
	width: 52px; 
	top: 22px; 
	position: absolute;
	color: black;
	font-size: 8px; 
	font-weight: 400; 
	word-wrap: break-word;
}

.tu2bgroup{
	width: 276px; 
	height: 72px; 
	left: 23px; 
	top: 172px; 
	position: absolute;
}

.bustrackingtext{
	width: 144px; 
	height: 26px; 
	left: 20px; 
	top: 23px;
	position: absolute;
	color: black; 
	font-size: 24px;
	font-weight: 500;
	word-wrap: break-word;
}

.locationlogo{
	width: 10.48px;
	height: 14.98px;
	top: 0px; 
	position: absolute; 
}

.busschedulegroup{
	width: 328px;
	height: 102px; 
	left: 16px;
	top: 458px;
	position: absolute;
}

.schedulebox{
	width: 328px;
	height: 102px;
	left: 0px;
	top: 0px;
	position: absolute;
	background: white;
	border-radius: 20px;
	border: 0.50px black solid;
}

.scheduletitle{
	width: 189px; 
	height: 26px; 
	left: 23px;
	top: 19px; 
	position: absolute; 
	color: black; 
	font-size: 24px; 
	font-weight: 500; 
	word-wrap: break-word;
}

.openicon{
	width: 18px; 
	height: 18px; 
	left: 199px; 
	top: 64px;
	position: absolute; 
}

.scheduletext{
	left: 24px; 
	top: 64px; 
	position: absolute;
	color: black;
	font-size: 16px;
	font-weight: 400; 
	word-wrap: break-word;
}

.buggytrackinggroup{
	width: 328px;
	height: 172px;
	left: 15px;
	top: 587px; 
	position: absolute;
}

.buggytrackingbox{
	 width: 328px; 
	height: 172px; 
	left: 0px; 
	top: 0px; 
	position: absolute; 
	background: white; 
	border-radius: 20px; 
	border: 0.50px black solid;
}

.buggyschedulegroup{
	width: 328px; 
	height: 102px;
	left: 16px;
	top: 785px;
	position: absolute;
}

.buggytrackingtext{
	width: 219px;
	height: 26px; 
	left: 20px; 
	top: 23px;
	position: absolute;
	color: black; 
	font-size: 24px;
	font-weight: 500;
	word-wrap: break-word;
}

.buggygroup{
	width: 280px;
	height: 72px;
	left: 23px;
	top: 77px;
	position: absolute;
}

.bottomspace{
	width: 360px;
	height: 51px;
	left: 0px; 
	top: 930px; 
	position: absolute;
}

.bottompanelgroup{
	width: 360px;
	height: 51px;
	left: 0px; 
	bottom: 0px; 
	position: fixed;
	z-index: 1;
}

.bottompanelbox{
	width: 360px; 
	height: 51px; 
	left: 0px; 
	top: 0px; 
	position: absolute; 
	background: #E2241D;
}

.homeicongroup{
	width: 32px;
	height: 32px;
	left: 98px; 
	top: 10px; 
	position: absolute;
}

.homeicon{
	width: 32px;
	height: 32px;
	left: 0px; 
	top: 0px; 
	position: absolute;
}

.chaticon{
	width: 28px;
	height: 28px;
	left: 233px;
	top: 13px;
	position: absolute;
}

.transportgif{
	width: 31px;
	height: 24px;
	top: 19px;
	position: absolute
}

/* Toggle Before Click */
.toggle-container {
    display: flex;
    align-items: center;
}

.toggle-switch {
    position: relative;
    width: 38px;
    height: 21.83px;
    background-color: #ccc; /* Default color before click */
    border-radius: 11px;
    transition: background-color 0.3s;
}

.toggle-handle {
    position: absolute;
	top: 2px;
    left: 2px;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
	transition: left 0.8s, background-color 0.8s;
}

/* Toggle-After Click */
.toggle-switch.checked {
    background-color: #E2241D; /* Color after click */
}

.toggle-switch.checked .toggle-handle {
    background-color: #fff;
    left: 18px;
}

/* Toggle-Notification ON/OFF */
.notification-text {
      position: absolute;
      top: 96px;
      left: 136px;
      font-size: 14px;
      font-weight: 700;
      color: #73B53F;
      opacity: 0; /* Initially set to transparent */
      transition: opacity 0.8s;
    }

