@charset "utf-8";
/* CSS Document */
body{
	font-family: 'Roboto';
	background: white;
	opacity: 1;
    transition: opacity 0.5s ease-in-out;
	user-select: none;
}

.fade-out {
    opacity: 0;
}

.toppanelgroup{
	width:360px; 
	height: 63px; 
	left: 0px; 
	top: 0px; 
	position:fixed;
	z-index: 1;
}

.toppanelbox{
	width: 360px; 
	height: 82px; 
	left: 0px; 
	top: 0px; 
	position: absolute;
	background: #E2241D;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.toppanelgroup2{
	width: 155px; 
	height: 34px; 
	left: 102px; 
	bottom: 10px; 
	position: absolute;
}

.taylormobiletext{ 
	width: 125px; 
	height: 34px; 
	left: 30px; 
	top: 0px; 
	position: absolute; 
	color: white; 
	font-size: 20px;  
	font-weight: 700; 
	word-wrap: break-word;
}

.tulogo{
	width: 22px; 
	height: 27px; 
	left: 0px; 
	top: 0px; 
	position: absolute;
}

.studentidgroup{
	width: 328px; 
	height: 72px; 
	left: 16px; 
	top: 97px; 
	position: absolute;
}

.studentidbox{
	width: 328px; 
	height: 72px; 
	left: 0px; 
	top: 0px; 
	position: absolute; 
	background: white; 
	border-radius: 20px; 
	border: 0.50px black solid;
}

.studentnametext{
	width: 158px; 
	left: 14px; 
	top: 30px; 
	position: absolute; 
	color: black; 
	font-size: 23px; 
	font-weight: 700; 
	word-wrap: break-word;
}

.goodafternoontext{
	width: 158px; 
	left: 14px; 
	top: 15px; 
	position: absolute; 
	color: black; 
	font-size: 13px; 
	font-weight: 700; 
	word-wrap: break-word;
}

.profilepic{
	width: 50px; 
	height: 50px; 
	left: 258px; 
	top: 11px; 
	position: absolute; 
	border-radius: 9999px; 
	border: 0.50px black solid;
}

.smartsearchgroup{
	width: 328px; 
	height: 44px; 
	left: 16px; 
	top: 187px; 
	position: absolute;
}

.smartsearchbox{
	width: 328px; 
	height: 44px; 
	left: 0px;
	top: 0px;
	position: absolute;
	background: black;
	border-radius: 40px;
}

.smartsearchgroup2{
	width: 137px;
	height: 24px; 
	left: 95px; 
	top: 11px; 
	position: absolute;
}

.smartsearchtext{
	width: 109px;
	left: 28px;
	top: 3px;
	position: absolute;
	color: white;
	font-size: 16px;
	font-weight: 700; 
	word-wrap: break-word;
}

.smartsearchlogo{
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
	position: absolute;
}	

.whatsnewtext{
	width: 151px;
	left: 24px;
	top: 249px;
	position: absolute;
	color: black;
	font-size: 20px;
	font-weight: 700;
	word-wrap: break-word;
}
		
.carouselgroup{
	width: 328px;
	height: 180px;
	left: 16px;
	top: 277px;
	position: absolute;
}

.notificationimagegroup{
	height: 180px;
	left: 0px;
	top: 0px;
	position: absolute;
}

.notificationimage{
	width: 328px;
	height: 169px; 
	left: 0px;
	top: 0px; 
	position: absolute;
	background: linear-gradient(0deg, white 0%, white 100%);
	border-radius: 20px;
}

.dotsgroup{
	width: 44px;
	height: 6px; 
	left: 142px;
	top: 174px;
	position: absolute;
}

.dots1{
	width: 28px;
	height: 6px;
	left: 0px;
	top: 0px;
	position: absolute;
	background: black;
	border-radius: 50px;
}

.dots2{
	width: 6px;
	height: 6px;
	left: 30px; 
	top: 0px;
	position: absolute;
	background: black;
	border-radius: 9999px;
}

.dots3{
	width: 6px;
	height: 6px;
	left: 38px;
	top: 0px;
	position: absolute;
	background: black;
	border-radius: 9999px;
}

.rightclickgroup{
	width: 32px;
	height: 169px;
	left: 296px;
	top: 0px; 
	position: absolute;
}

.rightclickbox{
	width: 32px;
	height: 169px;
	left: 0px;
	top: 0px;
	position: absolute;
	background: rgba(103.26, 103.26, 103.26, 0.20);
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}

.rightclickarrow{
	width: 15px;
	height: 15px;
	left: 10px;
	top: 79px;
	position: absolute;
}

.leftclickgroup{
	width: 32px;
	height: 169px;
	left: 0px;
	top: 0px; 
	position: absolute;
}

.leftclickbox{
	width: 32px;
	height: 169px;
	left: 0px;
	top: 0px; 
	position: absolute;
	background: rgba(103.26, 103.26, 103.26, 0.20);
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.leftclickarrow{
	width: 15px;
	height: 15px;
	left: 24px; 
	top: 94px;
	position: absolute;
}
		
.shortcutbartext{
	width: 151px;
	left: 19px;
	top: 484px;
	position: absolute;
	color: black;
	font-size: 20px;
	font-weight: 700;
	word-wrap: break-word;
}
		
.attendancegroup{
	width: 156px;
	height: 112px;
	left: 16px;
	top: 518px;
	position: absolute;
}
		
.backgroundimg{
	width: 156px; 
	height: 112px;
	left: 0px; 
	top: 0px; 
	position: absolute; 
}

.titletext{
	width: 114px; 
	left: 11px; 
	top: 79px; 
	position: absolute; 
	color: black; 
	font-size: 20px; 
	font-weight: 700; 
	word-wrap: break-word
}

.notificationtext{
	width: 98px;
	left: 11px; 
	top: 67px; 
	position: absolute;
	color: black; 
	font-size: 8px; 
	font-weight: 700; 
	word-wrap: break-word
}		

.timetablegroup{
	width: 156px; 
	height: 112px;
	left: 188px;
	top: 518px;
	position: absolute;
}
		
.transportgroup{
	width: 156px; 
	height: 112px;
	left: 16px; 
	top: 649px;
	position: absolute;
}
		
.taylorpaygroup{
	width: 156px; 
	height: 112px;
	left: 188px;
	top: 649px;
	position: absolute;
}		
		
.campusguidegroup{
	width: 156px; 
	height: 112px;
	left: 16px; 
	top: 780px;
	position: absolute;		
}

.campusguidetitletext{
	width: 114px; 
	left: 11px; 
	top: 53px; 
	position: absolute; 
	color: black; 
	font-size: 20px; 
	font-weight: 700; 
	word-wrap: break-word
}

.othersgroup{
	width: 156px; 
	height: 112px;
	left: 188px;
	top: 780px;
	position: absolute;
}		

.logoutgroup{
	width: 328px;
	height: 46px;
	left: 16px;
	top: 911px;
	position: absolute;
}

.logoutbox{
	width: 328px; 
	height: 46px; 
	left: 0px; 
	top: 0px; 
	position: absolute; 
	background: white; 
	border-radius: 20px;
	border: 0.50px black solid;
}

.logouttext{
	width: 111.14px; 
	left: 108px; 
	top: 11px; 
	position: absolute; 
	text-align: center; 
	color: black; 
	font-size: 20px; 
	font-weight: 700;
	word-wrap: break-word;
}

.bottomspace{
	width: 360px;
	height: 51px;
	left: 0px; 
	top: 991px; 
	position: absolute;
}

.bottompanelgroup{
	width: 360px;
	height: 51px;
	left: 0px; 
	bottom: 0px; 
	position: fixed;
	z-index: 1;
}

.bottompanelbox{
	width: 360px; 
	height: 51px; 
	left: 0px; 
	top: 0px; 
	position: absolute; 
	background: #E2241D;
}

.homeicon{
	width: 21.33px;
	height: 22.67px;
	left: 103.33px; 
	top: 16px; 
	position: absolute;
}

.chaticon{
	width: 28px;
	height: 28px;
	left: 233px;
	top: 13px;
	position: absolute;
}
		
.notificationlight {
    width: 13px;
    height: 13px;
    background-color: red;
	border: 0.5px black solid;
    border-radius: 50%;
    position: absolute;
    top: 649px;
    left: 159px;
    opacity: 0;
    transition: opacity 0.3s;
    }		
				